<ion-view view-title="Dashboard">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="list">

			<label class="item item-input item-select">
				<div class="input-label">
					Month
				</div>
				<select data-ng-model="date" data-ng-init="date = months[0]" data-ng-options="month.title for month in months track by month.id">
				</select>
			</label>

		</div>
		<div class="list card">
			<div class="item item-divider">All expenses in {{date.title}}</div>
			<div class="item item-body" ng-repeat="category in categories">
				<div class="item-category item-icon-right" ng-click="newAmount(category.id)">
					<span class="item-category-title">{{category.title}}:</span> <b class="item-category-amount">{{getAmountByCat(category, date.id)}} &euro;</b><i class="icon ion-plus-circled"></i>
				</div>
			</div>
		</div>

		<ion-list>
			<ion-item ng-repeat="expense in expenses" type="item-text-wrap">
				<h2>{{expense.amount}}</h2>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
