page-home {
    ion-item {
        ion-icon {
            float:right;
            position: relative;
            margin-top:-1px;
        }
        .amount {
            float:right;
            display:inline-block;
            margin-right:20px;
        }
    }


}
